.button {
    text-align: center;
    cursor: pointer;
}

.button_normal {
    border: 1px solid #9bb9a1;
    border-radius: 5px;
    background: #9bb9a1;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}