.label {
    @apply flex items-center cursor-pointer my-3 ;
}

.checkbox {
    @apply absolute w-1 h-1 overflow-hidden;
    clip: rect(0 0 0 0);
}

.checkbox:checked + .checkboxStyle::before {
    content: "";
    background-image: url("/icon/check-white.svg");
    background-color: #232323;
    @apply absolute w-full h-full top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%];
}

.checkboxStyle {
    @apply absolute w-[18px] h-[18px] border border-[#232323] rounded-[4px] ;
}